/**************************************************************************/
/*<<<< PAGINAS >>>>*/
/**************************************************************************/

/*-- Seccion 1: BACKGROUND --*/
#page1, #page2,#page3 {
    display: none;
}
.background_photo {
    width: 100%;
}
/* Title */
.usa_description h2, .europe_description h2, .united_arab_emirates_description h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 2px;
    padding-left: 3%;
    padding-top: 3%;
}

/* Description */
.usa_description p, .europe_description p, .united_arab_emirates_description p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 2.2vh;
    padding: 1% 3% 0% 3%;
}

.usa_description, .europe_description, .united_arab_emirates_description {
    border-color: #34405a;
    border-bottom: solid;
    border-top: solid;
    padding-bottom: 2%;
}

/*-- Seccion 2: PICTURES AND VIDEOS --*/
.usa_media {
    margin-top: 0.25%;
    height: auto;
    background-color: #c75e57;
}
.europe_media {
    margin-top: 0.25%;
    height: auto;
    background-color: #387ba1;
}
.united_arab_emirates_media {
    margin-top: 0.25%;
    height: auto;
    background-color: #6E8884;
}

.usa_media div h2, .europe_media div h2, .united_arab_emirates_media div h2 {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffffff;
    height: 0;
    margin: 3.5%;
    margin-top: 7vh;
    left: 0;
    right: 0;
    text-align: center;
}

.five_columns {
    display: flex;
    flex-wrap: wrap;
    margin: 17vh 3% 5%;
}

.five_columns img, .five_columns video {
    flex: 1 0 17%;
    margin: 2vh;
    width: 25vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**************************************************************************/
/*<<<< MOBILE/TABLET >>>>*/
/**************************************************************************/

/* Version Desktop */
@media screen and (min-width: 770px) {

    .usa_media div h2, .europe_media div h2, .united_arab_emirates_media div h2 {
        font-size: 200%;
    }
}

/* Version Tablet */
@media only screen and (max-width: 769px) and (min-width: 601px){

    .usa_media div h2, .europe_media div h2, .united_arab_emirates_media div h2 {
        font-size: 150%;
    }
}
